In [1]:
L1 = [1,2,3]
L2 = [12,23,34]
print(L1+L2)

[1, 2, 3, 12, 23, 34]

In [2]:
L1.extend(L2)
print(L1)

[1, 2, 3, 12, 23, 34]

### delete in list (index based)

In [3]:
print(L1.pop())

34

In [4]:
L1

[1, 2, 3, 12, 23]

In [5]:
L1.pop(3)

12

In [6]:
L1

[1, 2, 3, 23]

### to remove element in a list(value based)

In [7]:
L1.remove(23)

In [8]:
L1

[1, 2, 3]

### to add element to the list

In [9]:
L1.append(23)
print(L1)

[1, 2, 3, 23]

### to copy other list

In [11]:
L3=L1.copy()

In [12]:
L3

[1, 2, 3, 23]

In [13]:
L3.append(32)

In [14]:
L3

[1, 2, 3, 23, 32]

In [15]:
L1

[1, 2, 3, 23]

In [16]:
L4 = L1

In [17]:
L4.append(32)

In [18]:
L4
L1

[1, 2, 3, 23, 32]

In [19]:
L1

[1, 2, 3, 23, 32]

###sorting in list

In [20]:
L1.sort(reverse=True)

In [21]:
L1

[32, 23, 3, 2, 1]

In [22]:
L3 = sorted(L3)

In [23]:
L3

[1, 2, 3, 23, 32]

### help of list use help([])   or help(List)

In [24]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [29]:
L3.index(32)

4

### insert element in a list

In [30]:
L3

[1, 2, 3, 23, 32]

In [31]:
L3.insert(5,45)

In [32]:
L3

[1, 2, 3, 23, 32, 45]

In [33]:
L3.insert(7,41)
print(L3)

[1, 2, 3, 23, 32, 45, 41]

In [34]:
L3.clear()

In [35]:
L3

[]

### Tuples

In [36]:
t = (1,2,3,4,5,6,2,3,5,7)

In [37]:
t.index(6)

5

In [38]:
t.count(2)

2

### set

In [39]:
s = {1,2,3,4,5,6,2,4,5,2,1}

In [40]:
s

{1, 2, 3, 4, 5, 6}

In [41]:
print(s)

{1, 2, 3, 4, 5, 6}

In [42]:
l = list(s)
print(l)

[1, 2, 3, 4, 5, 6]

In [46]:
l = set(l)
print(l)

{1, 2, 3, 4, 5, 6}

In [47]:
s1 = {1,2,3}
s2 = {3,4,5}
s1.difference(s2)

{1, 2}

### update the set value and result store in a set1

In [48]:
s1

{1, 2, 3}

In [49]:
s1.difference_update(s2)

In [50]:
s1

{1, 2}

In [53]:
s1={1,2,3,4,5}

In [54]:
s1.intersection_update(s2)

In [58]:
s1={1,2,5,76,54,3}

In [59]:
s1.union(s2)

{1, 2, 3, 4, 5, 54, 76}

In [63]:
s1.isdisjoint(s2)
s2={1,2,3}

In [64]:
s2.issubset(s1)

True

In [65]:
s1.issuperset(s2)

True

In [67]:
s1.symmetric_difference_update(s2)

In [68]:
s1

{5, 54, 76}

### discard

In [69]:
s1.discard(54)

In [70]:
s1

{5, 76}

In [71]:
s1.pop()

5

In [72]:
s1

{76}

###               TASKS---------------------------------------------------------------------------------------------------------------------------------------------

### LIST

### Take a list of elements and add that list into another empty list

In [73]:
L1 = [1,2,3,4,5,6]
L2 = []
L2.extend(L1)
print(L2)

[1, 2, 3, 4, 5, 6]

In [74]:
L2

[1, 2, 3, 4, 5, 6]

### Sort the list of elements in ascending order and descending order.

In [77]:
L1 = [1,45,6,32,45,21,8,3,31]
L1.sort()
print("ascending order is:",L1)
L1.sort(reverse=True)
print("descending order is:",L1)

ascending order is: [1, 3, 6, 8, 21, 31, 32, 45, 45]
descending order is: [45, 45, 32, 31, 21, 8, 6, 3, 1]

### Given a two list of equal size create a set such that it shows the element from both lists in the pair

In [86]:
L1 = [1,2,3,4,5,6]
L2 = [7,8,9,10,11,12]
result = []
for i in range(len(L1)):
    a,b = L1[i],L2[i]
    c = [a,b]
    result.append(c)
print(result)

[[1, 7], [2, 8], [3, 9], [4, 10], [5, 11], [6, 12]]

### Write a python program to print the sum and average of elements in the list.

In [91]:
L1 = [1,2,3,4,5,6]
sum_1 = sum(L1)
avg = sum_1/len(L1)
print("sum is:",sum_1,"average is:",avg)

sum is: 21 average is: 3.5

### Tuples

### Python program to reverse the given elements in tuple

In [96]:
t = (1,4,2,3,7)
t1 = []
for i in range(len(t)-1,-1,-1):
    t1.append(t[i])
print(tuple(t1))

(7, 3, 2, 4, 1)

### Python program to print names in tuples using iterations

In [98]:
t = ("sai","krishna","vijaya","satya")
for i in t:
    print(i)

sai
krishna
vijaya
satya

### sets

### Take two sets and print the result using methods like Union, Difference and so on.

In [100]:
s1={1,2,3,4,5,6}
s2={3,4,5,6,9,7}
union = s1.union(s2)
print("union :",union)
print("Difference :",s1.difference(s2))
print("symmetric_difference :",s1.symmetric_difference(s2))
print("intersection :",s1.intersection(s2))

union : {1, 2, 3, 4, 5, 6, 7, 9}
Difference : {1, 2}
symmetric_difference : {1, 2, 7, 9}
intersection : {3, 4, 5, 6}